
.main {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container {
    width: 20em;
    height: 30em;
    background-color: #5b6365;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.progress-container { /* container de 250 * 250, donc viewbox 0 0 125 125 */
    width: 250px;
    height: 250px;
    position: relative;
    display: flex; /* Centrage de progress-content qui est remonté(2) */
    justify-content: center;
    align-items: center;
}

.progressbar {
    width: 100%;
    height: 100%;
    position: absolute; /* Sort du flux, faisant remonter progress-content (1) */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.title {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #a7afb9;
    color: #a7afb9;
}

.progressbar__track {
    fill: transparent;
    stroke: #a7afb9; /* Bordure du dessous*/
    stroke-width: 7px;
}

.progressbar__thumb {
    fill: transparent;
    stroke: #e44d26; /* Bordure du dessus => animée */
    stroke-width: 7px;
    stroke-dasharray: 314; /* Calcul du périmètre */
    stroke-dashoffset: 314;
    stroke-linecap: round; /* Arrondi le bout de la bordure */
    transform: rotate(-90deg);
    transform-origin: 50% 50%; /* Déplace le centre de rotation au centre du cercle */
    animation: progress 1 ease forwards;
    -webkit-animation: progress 1.2s ease forwards;
    -moz-animation: progress 1.2s ease forwards;
    -webkit-animation: progress 1.2s ease forwards;
    -o-animation: progress 1.2s ease forwards;
    -ms-animation: progress 1.2s ease forwards;
}

.progress-content {
    text-align: center;
    margin: auto;
}

.progress__value {
    color: #e44d26;
    font-size: 2.5em;
    position: relative;
    display: inline-block;
    transform: scale(0); /* Disparition du chiffre. */
    animation: pulse 400ms 1.6s forwards;
}

.progress__value:before {
    content: '%';
    font-size: 0.5em;
    position: absolute;
    top: 5px;
    left: -17px;
}

.progress__text {
    color: #fff;
    font-size: 2.6em;
    max-height: 0;
    overflow-y: hidden;
    animation: appears 500ms 1.9s forwards;
}

@keyframes progress {
    100% {
        stroke-dashoffset: 103.62;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes appears {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 2.6em;
        opacity: 1;
    }
}